* {
    margin: 0;
}
body :nth-child(n) {
    color: brown;
}
.text {
    background-color: aquamarine;
}
.img1 {
    background-image: url(./img/galaxy1.jpg);
}
.img2 {
    background-image: url(./img/galaxy2.jpg);
}
.img3 {
    background-image: url(./img/galaxy3.jpg);
}
.img4 {
    background-image: url(./img/galaxy4.jpg);
}

html, body {
    background-color: black;
    font-family: sans-serif;
}
.container {
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
    perspective: 3px;
}
section {
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
section.img {
    background-position: center center;
    transform: translateZ(-1px) scale(1.5);
    background-size: cover;
    z-index: -1;
    height: 500px;
}
section.text {
    height: 50vh;
}
section.heading {
    z-index: -1;
    transform: translateY(-30vh) translateZ(1px) scale(1.5);
}