body {
    font-family: 'Roboto', sans-serif;
}
.content-wrapper {
    background: url(../img/background.png);
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 45px 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-wrapper > :nth-child(n) {
    width: 1030px
}
.text {
    color: #fff;
    font-size: 18px;
}
.header {
    height: 60px;
    display: flex;
    justify-content: space-between;
}
.logo-wrapper {
    width: 150px;
    height: 50px;
    position: relative;
}
.logo-name {
    position: relative;
    top: -56px;
    left: 60px;
    width: 100px;
    transition: 500ms;
}
.highlighted {
    font-size: 29px;
}
.logo-img {
    position: absolute;
    left: 0;
    opacity: 0;
    transition: 500ms;
}
.logo-wrapper::before {
    content: url(../img/logo-white.png);
}
.logo-wrapper:hover :nth-child(n) {
    color: #F26522;
    transition: 500ms;
}
.logo-wrapper:hover::before {
    opacity: 0;
    transition: 500ms;
}
.logo-wrapper:hover .logo-img {
    opacity: 1;
    transition: 500ms;
}
.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between
}
.contact :nth-child(n) {
    color: #fff;
    transition: 500ms;
}
.contact :nth-child(n):hover {
    color: #F26522;
    transition: 500ms;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 17px 0 48px;
}
.main > :nth-child(1) {
    margin-bottom: 37px;
}
.item-wrapper:hover .item-descr {
    color: #F26522;
    transition: 500ms;
}
.item-descr {
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
    color: #fff;
    transition: 500ms;
}
.item-img {
    z-index: -2;
}
.item-info-wrapper {
    position: relative;
    overflow: hidden;
}
.hidden-block {
    position: absolute;
    top: 100%;
    padding: 29px 16px 12px 16px;
    width: 100%;
    background-color: #F26522;
    display: flex;
    justify-content: space-between;
    transition: 500ms;
}
.hidden-block :nth-child(1) {
    position: absolute;
    top: 7px;
    font-size: 10px;
}
.price {
    font-size: 20px;
}
.view {
    font-size: 14px;
}
.view::after {
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f054";
    margin-left: 16px;
}
.item-wrapper:hover .hidden-block {
    top: calc(100% - 70px);
    transition: 500ms;
}
.footer {
    text-align: center;
}
.footer .text {
    font-size: 12px;
}