.light-theme .header {
    background: #313131;
}
.light-theme .logo-name {
    color: #fff;
}
.light-theme .nav-link {
    color: #fff;
}
.light-theme .nav-link:hover {
    color: #14B9D5;
}
.light-theme .btn.channgeTheme-btn {
    background-color: #89CA62;
}
.light-theme .search-wrapper {
    background: #000000;
}
.light-theme .title {
    color: #fff;
}
.light-theme .btn {
    color: #fff;
}
.light-theme .subscribe-btn {
    background: #89CA62;
}
.light-theme .articles-btn {
    background: #14B9D5;
}
.light-theme .popular-posts {
    background: #F2F2F2;
}
.light-theme .blue-header {
    color: #18B4CF;
}
.light-theme .posts-item {
    background-color: #fff;
}
.light-theme .line {
    background: #18B4CF;
}
.light-theme .blue-title {
    color: #18B4CF;
}
.light-theme .defolt-shown :nth-child(n), .light-theme .defolt-hidden :nth-child(n) {
    background: #F9F7F7;
}
.light-theme .show-more-btn {
    background: #89CA62;
}
.light-theme .footer {
    background: #000;
    color: #fff;
}

.light-theme .scroll_to_top-btn {
    background: #89CA62;
}
.light-theme .arrow {
    border-left: 7px solid #18B4CF;
    border-top: 7px solid #18B4CF;
}