* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: default;
}
body {
    font-family: 'Ubuntu', sans-serif;
}
button {
    border: none;
}
a {
    text-decoration: none;
}
a:hover, a:hover :nth-child(n) {
    cursor: pointer;
}