.logo-name, .logo-name:hover, 
.header-icon, .header-icon:hover, 
.welcome-wrapper, .welcome-wrapper:hover, 
.welcome-wrapper .hover-highlight, .welcome-wrapper:hover .hover-highlight, 
.welcome-wrapper > :nth-child(n), .welcome-wrapper:hover > :nth-child(n), 
.form-log-in, .form-log-in:hover, 
.fb-btn, .fb-btn:hover, 
.google-btn, .google-btn:hover, 
.agree-form .highlight, .agree-form:hover .highlight, 
.create-account, .create-account:hover {
    transition: 500ms;
}
.logo-name:hover, .header-icon:hover, .welcome-wrapper:hover .hover-highlight {
    color: #236d47;
}
.welcome-wrapper:hover > :nth-child(n) {
    color: #969696;
}
.form-log-in:hover {
    text-decoration: underline;
    color: #01813F;
}
.fb-btn:hover {
    background: #022263;
}
.google-btn:hover {
    background: #AB1F09;
}
.agree-form:hover .highlight {
    text-decoration: underline;
    color: #01813F;
}
.create-account:hover {
    background: #01813F;
}
button:hover, button:hover :nth-child(n) {
    cursor: pointer;
}

.agree-input[type="checkbox"]:checked, 
.agree-input[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.agree-input[type="checkbox"]:checked + .agree-label, 
.agree-input[type="checkbox"]:not(:checked) + .agree-label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    cursor: pointer;
}
.agree-input[type="checkbox"]:checked + .agree-label::before, 
.agree-input[type="checkbox"]:not(:checked) + .agree-label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 20px;
    width: 20px;
    border: 1px solid #F2F2F2;
}
.agree-input[type="checkbox"]:checked + .agree-label::after, 
.agree-input[type="checkbox"]:not(:checked) + .agree-label::after {
    content: "";
    position: absolute;
    left: 3px;
    top: 5px;
    width: 14px;
    height: 6px;
    border-left: 2px solid #01813F;
    border-bottom: 2px solid #01813F;
    transform: rotate(-45deg);
    transition: 500ms;
}
.agree-input[type="checkbox"]:checked + .agree-label::after {
    opacity: 1;
} 
.agree-input[type="checkbox"]:not(:checked) + .agree-label::after {
    opacity: 0;
}