.dark-theme .header {
    background: #313131;
}
.dark-theme .logo-name {
    color: #fff;
}
.dark-theme .nav-link {
    color: #fff;
}
.dark-theme .nav-link:hover {
    color: #e84502;
}
.dark-theme .btn.channgeTheme-btn {
    background-color: #337e5f;
}
.dark-theme .search-wrapper {
    background: #000000;
}
.dark-theme .title {
    color: #fff;
}
.dark-theme .btn {
    color: #fff;
}
.dark-theme .subscribe-btn {
    background: #337e5f;
}
.dark-theme .articles-btn {
    background: #e84502;
}
.dark-theme .popular-posts {
    background: #313131;
}
.dark-theme .blue-header {
    color: #e84502;
}
.dark-theme .posts-item {
    background-color: #000;
}
.dark-theme .post-descr {
    color: #f2f2f2;
}
.dark-theme .line {
    background: #e84502;
}
.dark-theme .top-rated, .dark-theme .hot-news {
    background-color: #313131;
}
.dark-theme .blue-title {
    color: #e84502;
}
.dark-theme .hot-news_items-wrapper :nth-child(n) {
    background: #000;
    color: #F9F7F7;
}
.dark-theme .footer {
    background: #000;
    color: #fff;
}