.image-to-show {
  width: 400px;
  height: 400px;
  display: block;
  transition: opacity 500ms ease-in;
}

.images-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hidden-img {
  display: none;
}

.btns-wrapper {
  position: absolute;
  top: 30px;
  right: 30px;
}

.btn {
  width: 120px;
  height: 50px;
  border-radius: 25px;
  border: 2px solid black;
  text-align: center;
  font-weight: bold;
  margin-left: 10px;
}

.btn:active, .btn:focus{
  outline: none;
}

.timer {
  position: absolute;
  top: 80px;
  right: 30px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 30px;
}

.millisecond {
  display: inline-block;
  width: 45px;
}

.fade {
  opacity: 0;
}