.container {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 3px;
}
.background-img {
    position: absolute;
    transform: translateZ(-1px) scale(1.5);
    z-index: -1;
    height: 100vh;
    width: 100vw;
}
.background-img:nth-of-type(1) {
    background: url(../img/bg1.jpg);
}
.background-img:nth-of-type(2) {
    background: url(../img/bg2.jpg);
}
.background-img:nth-of-type(3) {
    background: url(../img/bg3.jpg);
}
.what, .meet-us, .why {
    background: #fff;
}
.header, .companies, .testimonials {
    background: #00000090;
}